.map-wrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 60px
  ); /* calculate height of the screen minus the heading */
  overflow: hidden;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .map {
    width: 100%;
  }
}

.map:hover {
  cursor: pointer;
}

.maplibregl-marker {
  opacity: 0;
}
